<!DOCTYPE html>
<html>
	<head>
		<!-- required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		  <link href="images/security.png" rel="icon">
  <link href="images/security.png" rel="apple-touch-icon">

		<!-- Bootstrap CSS v4.0.0 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- Previous version of bootstrap -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- font awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
		<!-- google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

		<title>SecureUp</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body bgcolor="grey">
<style>
		body,head,html {
          font-family: 'Montserrat', sans-serif;
    						}
	</style>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/admins/home">
				Home <i class="fas fa-home"></i> 
			</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-nav-demo" aria-controls="bs-nav-demo" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
			<!-- <a href="/admins/home" class="navbar-brand">Home <i class="fas fa-home"></i> </a> -->
		</div>
		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<ul class="navbar-nav navbar-right ml-auto">  
				<li class="nav-item"><a class="nav-link" href="#" data-target="#selectsubject" data-toggle="modal"> <i class="fas fa-file-alt"></i> Generate Question Paper </a></li>
				<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fab fa-superpowers"></i> Activate</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admins/activateTeacher"><i class="fas fa-user-plus"></i> Activate Teacher</a>
          <a class="dropdown-item" href="/admins/activate"><i class="fas fa-users"></i> Activate User</a>
      </li>
				<li class="nav-item"><a class="nav-link" href="/logout"> SignOut <i class="fas fa-sign-out-alt"></i></a></li>
			</ul>
		</div>
	</div>
</nav>


<!-- Button trigger modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" aria-expanded="false">
  Launch demo modal
</button> -->

<!--<button class="btn btn-primary btn-sm" data-target="#otp" data-toggle="modal">Select Subject</button>-->
<div class="modal" id="selectsubject" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
				<button class="float-right close" data-dismiss="modal">&times;</button>
			<div class="form-group">
				<form class="col-md-6 offset-md-3" action="/admins/home" method="POST">
					<legend>Question Paper</legend>
						<label for="sub">Enter Subject Name</label>
						<input class="form-control" type="text" name="sub" autofocus="autofocus">
		<br>
						<input class="btn btn-primary" type="submit" value="submit" autofocus="autofocus">
					 </form> 
				</div>
					</div>
			</div>
		</div>


		<!-- handling flash messages -->
		<div class="container">
		    <% if(error && error.length > 0) { %>
		    	<div class="alert alert-danger alert-dismissible text-center" role="alert">
		    		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    		<p><%=error %></p>
		    	</div>
		    <% } %>
		    <% if(success && success.length > 0) { %>
		    	<div class="alert alert-success alert-dismissible text-center" role="alert">
		    		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    		<p><%=success %></p>
		    	</div>
		    <% } %>
	 	</div>
	 		    <!-- Bootstrap JS v4.0.0 -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	    <!-- jQuery v3.2.1 -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>