<!DOCTYPE html>
<html>
<% include partials/header %>
<head>
<style type="text/css">
.c{
	color: black;
}
.d{
	background-image: url("https://ak1.picdn.net/shutterstock/videos/16054381/thumb/1.jpg?i10c=img.resize(height:160)");
}
.e{
	background-image: url("https://i2.wp.com/www.wm.edu/img/home_college_curriculum.jpg?resize=500%2C313");
}
.f{
	height: 333.5px;
}
.tea{
    background-image: url("/images/teacher.c.jpeg");
        height: 333.5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

}
.user{
	background-image: url("https://upload.wikimedia.org/wikipedia/en/0/09/SJB_Institute_Of_Technology_Logo.jpg");
        height: 333.5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;

}
</style>
<div class="container">
<section id="tea">
<div class="row">
<div class="col-lg-8">
<!-- 	<img class="d-block w-100" src="https://images.news18.com/ibnlive/uploads/2016/09/gates.jpg" alt="Third slide" height="200"> -->
<!--corousal -->
<div class="thumbnail">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active f bg-light">
	    	<br>
	    	<br>
	    	<br>
	    	<br>
	    		<br>
	    		<br>
	    		<br>
	    		<h3 align="center">Hello there</h3>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	      <!-- <img class="d-block w-100" src="http://www.iamwire.com/wp-content/uploads/2017/04/CyberSecurity.jpg" alt="First slide"> -->
	        <div class="carousel-caption d-none d-md-block">
    <p><a href="/homes" class="btn btn-lg btn-dark">GET STARTED</a></p>
  </div>
	    </div>
	    <div class="carousel-item f d">
	    		 <br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<h3 align="center">New to this site?</h3>
	    		<h5 align="center">Click below to register.</h5>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	      <!-- <img class="d-block w-100" src="http://www.iamwire.com/wp-content/uploads/2017/04/CyberSecurity.jpg" alt="Second slide"> -->
	      	        <div class="carousel-caption d-none d-md-block">
    <p><a href="/teachers/register" class="btn btn-lg btn-light">Register</a></p>
  </div>
	    </div>
	    <div class="carousel-item f tea">
	      <div class="row">
	      	<div class="col-lg-6">
	      		<p align="center" style="color: black;"><br>Are you fed up of writing the questions from scratch while setting the Question Paper?</p>
	      		<p align="center" style="color: black;">We have made it easy for you!</p>
	      		<p align="center" style="color: black;">You can now set the Question Paper anywhere, anytime and Upload it in a jiffy!</p>
	      		<p align="center" style="color: black;">We know what you are thinking about.
	      		Shhhhhhh! Dont worry, papers you set will undergo 128Bit Encryption before they are saved in our Treasury!</p>

	      	</div>
	      </div>
	      	        <div class="carousel-caption d-none d-md-block">
    <p><a href="/homes" class="btn btn-lg btn-light">GET STARTED</a></p>
  </div>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>

</div>
<div class="col-lg-4 ">
	<br>
	<br>
	<br>
	<br>
<legend align="center"><a class="c" href="#tea">Teacher Login <i class="fas fa-user-plus"></i></a></legend>  
			<form action="/teachers/login" align="centre" method="POST">
				<div class="form-group">
				<label for="emailid">Email-ID</label>
				<input type="email" name="emailid" class="form-control" name="emailid" placeholder="someone@example.com" required="" autofocus>
				<small class="form-text text-muted">Enter your MailId</small>
				</div>
				<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Login">
				<small><a class="float-right" href="/teachers/register">New User? Create new Account in a Jiffy!</a></small>
				</div>
			</form>
		
</div>
</div>
</section>
<div class="row">
<div class="col-lg-12">
	<br>
	<br>
	</div>
</div>
<section id="use" class="bg-lg">
<div class="row">
<div class="col-lg-4" >
	<br>
	<br>
	<br>
	<br>
<legend align="center"><a class="c" href="#use">User Login <i class="fas fa-users"></i></a></legend>
			<form action="/users/login" method="POST">
				<div class="form-group">
				<label for="emailid">Email-ID</label>
				<input class="form-control" type="email" name="emailid" placeholder="someone@example.com" required="" autofocus>
				<small class="form-text text-muted">Enter your MailId</small>
				</div>
				<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Login" autofocus>
				<small><a class="float-right" href="/users/register">New User? Create new Account in a Jiffy!</a></small>
				<br>
				<br>
				<br>
				</div>
			</form>
</div>
<div class="col-lg-8">
<!-- 	<img class="d-block w-100" src="http://www.iamwire.com/wp-content/uploads/2017/04/CyberSecurity.jpg" alt="Third slide" height="200"> -->
<div class="thumbnail">
	<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
	    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="carousel-item active f bg-light">
	    	<br>
	    	<br>
	    	<br>
	    	<br>
	    		<br>
	    		<br>
	    		<br>
	    		<h3 align="center">Hello there</h3>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	      <!-- <img class="d-block w-100" src="http://www.iamwire.com/wp-content/uploads/2017/04/CyberSecurity.jpg" alt="First slide"> -->
	        <div class="carousel-caption d-none d-md-block">
    <p><a href="#use" class="btn btn-lg btn-dark">GET STARTED</a></p>
  </div>
	    </div>
	    <div class="carousel-item f d">
	    		 <br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<h3 align="center">New to this site?</h3>
	    		<h5 align="center">Click below to register.</h5>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	    		<br>
	      <!-- <img class="d-block w-100" src="http://www.iamwire.com/wp-content/uploads/2017/04/CyberSecurity.jpg" alt="Second slide"> -->
	      	        <div class="carousel-caption d-none d-md-block">
    <p><a href="/users/register" class="btn btn-lg btn-light">Register</a></p>
  </div>
	    </div>
	<!--     <div class="carousel-item f">

	      <img class="d-block w-100" src="https://upload.wikimedia.org/wikipedia/en/0/09/SJB_Institute_Of_Technology_Logo.jpg" alt="Third slide">
	      	        <div class="carousel-caption d-none d-md-block">
    <p><a href="/homes" class="btn btn-lg btn-dark">GET STARTED</a></p>
  </div>
	    </div> -->
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>
<br>
<br>
<br>

</div>
</div>
</section>
</div>
<% include partials/footer %>

</head>
</html>