<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SecureUP</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="images/security.png" rel="icon">
  <link href="images/security.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <!-- font awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <!--local fontawesome-->
        <link href="/fontawesome/fontawesome-all.css" rel="stylesheet">
        <style type="text/css">
            .image{
                height: 175px;
                width: 100%;
            }
            .t{
                height: 300px;
            }
            .ig{
                height: 300px;
            }
        </style>
</head>

<body>
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto"><img src="/images/security.png" width="30" height="30" class="d-inline-block align-top" alt=""> SecureUP</a></h1>
      </div>
      <!-- navbar -->
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <!-- <li><a href="#about">About Us</a></li> -->
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/images/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>SECURE UP</h2>
                <p>Maintaining Confidentiality Through ReaR Technology.</p>
                <a href="/homes" class="btn-get-started scrollto">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="images/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Never heard of us?</h2>
                <p>Click below to know.</p>
                <a href="#about" class="btn-get-started scrollto">About</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="images/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Don't be Shy To contact Us</h2>
                <p></p>
                <a href="#contact" class="btn-get-started scrollto">Contact</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section>

  <main id="main">


    <section id="featured-services">
      <div class="container" align="center">
        <div class="row">

          <div class="col-lg-4 box">
            <a href="/admins/login"><i class="fas fa-user-secret"></i></a>
            <h4 class="title"><a href="/admins/login">Admin</a></h4>
            <p class="description"></p>
          </div>

          <div class="col-lg-4 box box-bg">
            <a href="/teachers/login"><i class="fas fa-user-plus"></i></a>
            <h4 class="title"><a href="/teachers/login">Teacher Lobby</a></h4>
            <p class="description"></p>
          </div>

          <div class="col-lg-4 box">
            <a href="/users/login"><i class="fas fa-users"></i></a>
            <h4 class="title"><a href="/users/login">User Lobby</a></h4>
            <p class="description"></p>
          </div>

        </div>
      </div>
    </section>

<!-- about -->
<!--     <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p></p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="https://image.freepik.com/free-vector/businessman-with-a-great-idea_1012-219.jpg" alt="" class="img-fluid image">
                <div class="icon"><i class="far fa-lightbulb"></i></div>
              </div>
              <h2 class="title"><a href="#">Initial Phase</a></h2>
              <p>
                We started our project under the guidance of Mrs Roopa MJ. From there nothing stopped us from going ahead
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="https://image.freepik.com/free-vector/mind-map-communication_1325-470.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-code"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                T
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="https://censemaking.files.wordpress.com/2013/08/137189720.jpg" alt="" class="img-fluid image">
                <div class="icon"><i class="fas fa-pencil-alt"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                
              </p>
            </div>
          </div>

        </div>

      </div>
    </section> -->

  
    <section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Structure Of Leaks</h3>
          <p></p>
        </header>

        <div class="row counters">

                <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <span data-toggle="counter-up">48,04,618</span>
            <p>Emails</p>
                </div>

          <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <span data-toggle="counter-up">30,47,306</span>
            <p>Images</p>
                </div>

          <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <span data-toggle="counter-up">11,17,026</span>
            <p>Text Documents</p>
                </div>

          <div class="col-lg-3 col-md-6 col-sm-12 text-center">
            <span data-toggle="counter-up">2,242</span>
            <p>Other</p>
                </div>

            </div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="facts-img">
          <img src="images/leak1.jpg" alt="" class="img-fluid ig">
      </div>
        </div>
            <div class="col-md-6 col-sm-12">
        <div class="facts-img">
          <img src="images/leak2.jpg" alt="" class="img-fluid ig">
      </div>
  </div>

      </div>
  </div>
    </section>



    <!-- team -->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="https://scontent.fblr4-2.fna.fbcdn.net/v/t1.0-9/25399059_1436150133177647_6779307340433811499_n.jpg?_nc_cat=0&oh=24f7cf13f2afe74197e6ea32eff7907b&oe=5B68301F" class="img-fluid t" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Shashank GS</h4>
                  <span>Lead Developer</span>
                  <div class="social">
                    <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://plus.google.com/discover"><i class="fab fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/start/join"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="https://scontent.fblr4-2.fna.fbcdn.net/v/t1.0-9/31434442_2134381326847744_3384128552130576384_n.jpg?_nc_cat=0&oh=cd3796eb3854ec02732e8901d735516c&oe=5B920D41" class="img-fluid t" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Rakshith V Srinivas</h4>
                  <span>Lead Designer</span>
                  <div class="social">
                    <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://plus.google.com/discover"><i class="fab fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/start/join"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="https://scontent.fblr4-1.fna.fbcdn.net/v/t31.0-8/11722258_909492559089818_8862918423958847303_o.jpg?_nc_cat=0&oh=2f4757239a1060db758b10d9213e61c6&oe=5B5178FB" class="img-fluid t" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Suhas G</h4>
                  <span>Lead Developer</span>
                  <div class="social">
                    <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://plus.google.com/discover"><i class="fab fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/start/join"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="https://scontent.fblr4-2.fna.fbcdn.net/v/t1.0-9/26219677_1942613085753701_5268058984406221344_n.jpg?_nc_cat=0&oh=896b6fdf979858295cd31dd4a15dd666&oe=5B928423" class="img-fluid t" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sriram N</h4>
                  <span>Lead Designer</span>
                  <div class="social">
                    <a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                    <a href="https://plus.google.com/discover"><i class="fab fa-google-plus"></i></a>
                    <a href="https://www.linkedin.com/start/join"><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

<!-- contact -->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p></p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>SJB Institite Of Technology, Bangalore, India</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+917019339310">+91 7019339310</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">secure.up.rear@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="thumbnail Con">
<div class="container">
    <form class="col-md-6 offset-md-3" action="/" method="POST">
        <br>
                                     <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone" name="phone" required>
                                </div>
                                    <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message" name="message" required></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group" align="center">
                                <button type="submit" class="btn btn-dark">Send Message</button>
                            </div>
</form>
</div>

      </div>
    </section>

  </main>

  <!-- footer -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>SecureUp</h3>
            <p>Maintaining Confidentiality through ReaR Technology</p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Team</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              SJB Institite Of Technology <br>
              Bangalore<br>
              India <br>
              <strong>Phone:</strong>+91 7019339310<br>
              <strong>Email:</strong>secure.up.rear@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://twitter.com/login?lang=en" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook"></i></a>
              <a href="https://www.instagram.com/?hl=en" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="https://plus.google.com/discover" class="google-plus"><i class="fab fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/start/join" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SecureUP</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
