<h1> Admin SignUP</h1>
<form action="/admins/register" method="POST">
<input type="text" name="username">
<input type="password" name="password">
<input type="email" name="email">
<input type="number" name="phno">
<button> Sign Up </button>
</form>